$body-size = 16px;
$text-color = #313131;

// Colors
$color1 = #666;
$color1-l = lighten($color1,25%);
$color1-d = darken($color1,25%);

//
// Mixins
//

/* font size by em */
emsize(x)
    font-size (x/$body-size)em;

/* fix floats */
clearfix()
    &:after
        content ''
        display table
        clear both

/* Image replacement */
ir(url, w=null, h=null, display = false, responsive=false)
    
    imgSrc = pathjoin('../../app/images/', url);
    imgPath = pathjoin('../images/', url)
    
    if w == null
        w = image-size(imgSrc)[0]

    if h == null
        h = image-size(imgSrc)[1]

    if display != false
        display: inline-block;

    if responsive == false
        width w; max-width 100%;
        height h;
    else
        width 100%; max-width w;
        
        &:before
            content '';
            display: block; width 100%;
            padding-bottom percentage(h/w);

    background url(imgPath) center no-repeat;
    background-size: contain;
    font: 0/0 a; text-shadow none; color transparent;

/* Media Queries */

//Only Desktops
desktop()
    @media (min-width: 1025px)
        {block}

// tablets
tablets()
    @media (max-width: 1024px)
        {block}

// Tablets to cellphones
tablet-mobile()
    @media (max-width: 900px)
        {block}

//Portrait Cellphones and beyond
mobile()
    @media (max-width: 600px)
        {block}

iphone5()
    @media (max-width: 340px)
        {block}