// Variables, Mixins and Resets
//----------------------------------------------

//Variaveis
@require '_variables'

//Fonts
@require '_fonts'

//CSS Reset
@require '../../node_modules/normalize.css/normalize.css'

//Slick basic style
@require '../../node_modules/slick-carousel/slick/slick.css'

//
// General Styles
// --------------------------------------------------

*, *:before, *:after
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

html
    height 100%; color $text-color;

body
    min-height 100%; 
    background $bg-color;
    font-family: 'Roboto', sans-serif;
    if $body-size != "16px"
        font-size $body-size;

a
    text-decoration: none; color inherit;

//List
ul
    margin 0; padding 0; list-style: none;

//Text-align
.ta-center
    text-align center;
.ta-right
    text-align right;

//wrapper
.wrapper
    position: relative; max-width 1200px; margin 0 auto; padding: 0 15px; box-sizing border-box; clearfix();

    &.flex
        display flex;

//Menu

// Main content
header
    display block;

main
    background #166b98;

    > section
        padding 10px 0;

footer
    display block;

/* Sections */
@require 'sections/*'

//Keyframes
@require '_keyframes'

/* MEDIA QUERIES */